
<p class="text-white font-bold text-5xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] text-center">
    <%= name %>
</p>
<p class="text-white font-bold text-5xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] text-center">
    <%= msg %>
</p>
<audio autoplay>
    <source src="<%= tts %>" type="audio/wav">
</audio>