<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Twitch Overlay</title>
    <style>
        html, body {
            margin: 0;
            background: transparent;
            color: black;
            width: 1920px;
            height: 1080px;
            overflow: hidden;
            font-family: sans-serif;
            display: flex;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div class="w-full h-full" id="cont">

</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const cont = document.getElementById('cont');

    socket.on('overlay_update', (html, timeout) => {
        // onm update reset the fade
        cont.innerHTML = html;
        cont.style.transition = '';
        cont.style.opacity = '1';
        console.log(timeout);
        setTimeout(() => {
            cont.style.transition = 'opacity 2s ease';
            cont.style.opacity = '0';
        }, Number(timeout)*1000);
    });
</script>
</body>
</html>
