<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Twitch Overlay</title>
    <style>
        html, body {
            margin: 0;
            background: transparent;
            color: black;
            width: 1920px;
            height: 1080px;
            overflow: hidden;
            font-family: sans-serif;
            display: flex;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    socket.on('overlay_update', (html, timeout) => {
        // onm update reset the fade
        document.body.innerHTML = html;
        document.body.style.transition = '';
        document.body.style.opacity = '1';

        //after 5 fade over 2
        setTimeout(() => {
            document.body.style.transition = 'opacity 2s ease';
            document.body.style.opacity = '0';
        }, timeout*1000);
    });
</script>
</body>
</html>
