<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Twitch Overlay</title>
    <style>
        html, body {
            margin: 0;
            background: transparent;
            color: black;
            width: 1920px;
            height: 1080px;
            overflow: hidden;
            font-family: sans-serif;
            display: flex;
        }
    </style>
</head>
<body>
<div class="w-full h-full" id="cont">

</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const cont = document.getElementById('cont');

    socket.on('overlay_update', (html, timeout, tts_delay) => {
        cont.innerHTML = html;

        // Immediately reset fade
        cont.style.transition = '';
        cont.style.opacity = '1';

        // Schedule fade-out to start after 'timeout' seconds (relative to now)
        setTimeout(() => {

            cont.style.transition = 'opacity 2s ease';
            cont.style.opacity = '0';
        }, (Number(timeout-2)) * 1000);

        // Schedule audio playback to start after 'tts_delay' seconds (relative to now)
        setTimeout(() => {

            const audioElement = document.querySelector('audio');
            if (audioElement) {
                audioElement.play().catch(err => {
                    console.error('Audio playback error:', err);
                });
            }
        }, Number(tts_delay) * 1000);
    });

</script>
</body>
</html>
