<div class="mx-auto max-w-[40%] h-[30%] mt-5 relative">
    <video autoplay class="rounded-[5%] max-h-full mx-auto">
        <source src=" <%= video_path %>" type="video/mp4">
    </video>
    <p class="animated-text text-white font-bold text-5xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] text-center">
        <%= name %>
    </p>
</div>
<audio>
    <source src="<%= tts %>" type="audio/wav">
</audio>


<style>
    .animated-text {
        position: relative;
        bottom: 10%;
        left: 0px;
        transform: rotate(-2deg);
        animation: pulse 2s infinite;
        white-space: nowrap;
    }

    @keyframes pulse {
        0%, 100% {
            transform: rotate(-2deg) scale(1);
        }
        50% {
            transform: rotate(2deg) scale(1.1);
        }
    }
</style>
